<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="userName" name="userName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>

  <ion-button expand="full" color="light" (click)="goToLogin()">Iniciar sesión</ion-button>
</ion-content>
